<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%=usuario.foto%>" alt="">
                <div class="info-usuario">
                    <p><%=usuario.username %></p>
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>Post: <%=usuario.posteos%></li>
                        <li>Followers: <%=usuario.seguidores%></li>
                        <li>Follow: <%=usuario.seguidos%></li>
                    </ul>
                </div>
            </section>
            <section class="bottom">
                <% for (let i = 0 ; i <posteos.length ; i++) { %>
                    <%if(usuario.id == posteos[i].id_usuario){ %>

                  
                <article class="post">
                    <a href="/posts/detallePost3/<%=posteos[i].id_posteo%>">
                        <img src="<%=posteos[i].foto%>" alt="">
                    </a>
                </article>
                <% } %>
                <% } %>
            </section>

        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>