<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main>
                <div class="user-detail container">
                    <section class="top main-content">
                        <img class="profile" src="/images/usuarios/<%=usuariodb.foto%>" alt="">
                        <div class="info-usuario">
                            <p>
                                <%=usuariodb.usuario %>
                            </p>
                            <a class="follow" href="">seguir</a>
                            <ul class="meta">
                                <li>Post: <%=usuariodb.Posteos.length%>
                                </li>
                                <li>Followers: <%=usuariodb.Seguidores.length%>
                                </li>
                                <li>Follow: <%=usuariodb.Seguidos.length%>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <section class="bottom">
                        <% for (let i=0 ; i < usuariodb.Posteos.length; i++) { %>

                            <article class="post">
                                <a href="/posts/detallePost/<%=usuariodb.Posteos[i].id%>">
                                    <img src="/images/posteos/<%=usuariodb.Posteos[i].imagen%>" alt="">
                                </a>
                            </article>
                            <% } %>

                    </section>

                </div>
            </main>

            <%- include('./partials/footer') %>

    </body>

</html>