<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="post-detail container">
            <section class="center main-content post">
                <div class="info-usuario">
                    <img src="/images/usuarios/<%= post.usuario.foto %>" alt="">
                    <p><a href="/users/detalleUsuario/<%= post.id_usuario %> "> <%= post.usuario.usuario %> </a></p>
                </div>
                <img class="photo" src="/images/posteos/<%= post.imagen %>" alt="">
            </section>
            <section class="right">
                <h4>Comentarios</h4>
                <section class="comments">
                    <form action="/posts/agregarComentario/<%= post.id %>" method='post' class="comment-form">
                        <input type="text" class="input" name='comentario' required placeholder="Agregar comentario">
                        <button type="submit">Comentar</button>
                    </form>
                    <div>
                        <% for (let i=0; i<post.Comentarios.length; i++) {%> 
                        <article class="comment">
                            <img src="https://via.placeholder.com/40" alt="">
                            <section class="content">
                                <a class="user" href="/users/detalleUsuario/<%= post.Comentarios[i].id_usuario %> "><%= post.Comentarios[i].usuario.usuario %> </a>
                                <span class="text"> <%= post.Comentarios[i].texto %> </span>
                            </section>
                        </article> 
                        <% } %> 
                        
                    </div>
                </section>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>