<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="" alt="">
                <div class="info-usuario">
                    <p><%= usuario.username %></p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>Post: <%= usuarios.posteos %></li>
                        <li>Followers: <%= usuarios.seguidores%></li>
                        <li>Follow: <%= usuarios.seguidos%></li>
                    </ul>
                </div>
            </section>
          <section class="bottom">
            
                <article class="post">
                    <a href="/posts/detallePost3<%= posteos.id_usuario% %> ">
                        <img src="<%= posteos.foto%>" alt="">
                    </a>
                </article>
            
            </section>
            <section class="bottom">
    
                    <article class="post">
                        <img src="<%= posteos.foto%>" alt="">
                        <section class="content">
                            <a class="user" href="/posts/detallePost/"><%= posteos[i].id_usuario% %> </a>
                            
                        </section>
                    </article>
                   
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>