<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
                <img class="profile" src="<%=data.usuarios[indice].foto%>" alt="">
                <div class="info-usuario">
                    <p><%= data.usuarios[indice].username %></p> 
                    <a class="follow" href="">seguir</a>
                    <ul class="meta">
                        <li>Post: <%=data.usuarios[indice].posteos %></li>
                        <li>Followers: <%= data.usuarios[indice].seguidores%></li>
                        <li>Follow: <%= data.usuarios[indice].seguidos%></li>
                    </ul>
                </div>
            </section>
          <section class="bottom">
              /// lo que rompe es aca
            <%for ( i=0, i < posteos.length, i++ ) { %>
                <article class="post">
                    <a href="/posts/detallePost3/<% posteos[i].id_posteo%> ">
                        <img src="<%posteos[i].foto%>" alt="">
                    </a>
                </article>
           <% } %>
            </section>
           
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>