<!DOCTYPE html>
<html lang="en">


    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <section class="center main-content">
        <h1>Editar perfil</h1>
        <form action="/users/miPerfil" method="">
            <input type="email" name="mail" placeholder="mail" id="" value="<%= data.usuarios[0].mail %> ">
            <input type="text" name="username" placeholder="username" id="" value="<%= data.usuarios[0].username %> ">
            <input type="password" name="password" placeholder="contraseña" id="" value="<%= data.usuarios[0].contrasenia %> ">
            <input type="file" name="foto" placeholder="foto" id=""> 
            <input type="date" name="fecha" placeholder="fecha de nacimiento" id="" value="<%= data.usuarios[0].nacimiento %> " >
            <input type="text" maxlength="9" name="dni" placeholder="dni" id="" value="<%= data.usuarios[0].DNI %> " >
            <button type="submit">Regsitrate</button>
            
    
          </form>
        </section>
    </main>

    <%- include('./partials/footer') %> 

</body>

</html>