<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %> 

<body>
    <%- include('./partials/header') %> 

    <main>
        <div class="user-detail container">
            <section class="top main-content">
               
                <img class="profile" src="/images/usuarios/<%=usuariodb.foto%>" alt="">
                <div class="info-usuario">
                    <p><%=usuariodb.username%></p> 
                    <a class="follow" href="/users/editarPerfil/0"><i class="fa-solid fa-user-gear"></i></a>
                    <ul class="meta">
                        <li><%=usuariodb.posteos %> posteos </li>
                        <li><%=usuariodb.seguidores %> seguidores</li>
                        <li><%=usuariodb.seguidos %> seguidos</li>
                    </ul>
                    
                </div>
            </section>
            <section class="bottom">
                <% for (let i=0; i<posteos.length; i++){  %> 
                    <%if(usuariodb.id == posteos[i].id_usuario){ %>   
                <article class="post">
                    <% let url= `/posts/detallePost/${posteos[i].id_posteo}`%> 
                    <a href="<%= url%>">
                        <img src="/images/posteos/<%=posteos[i].foto %>" alt="">
                        <p><%=posteos[i].texto%></p>
                    </a>
                </article>
           <% } %>
           <% } %>
            </section>
        </div>
    </main>

    <%- include('./partials/footer') %> 
</body>

</html>